<div class="nav_last fr">
    <a href="<%= YD.conf.userHomeUrl %>" class="nav_head">
        <img src= '<%= photo.value %> ' />
        <span><%= userName %></span>
    </a>
    <a href="<%= YD.conf.userLogout %> " class="nav_exit"></a>
</div>
