
<img src='img/score.png'><br>

英语阅读能力等级：<%= latestExamResult.examGradeResult %> <br>
英语词汇量： <%= latestExamResult.vocabularySize %>  <br>
最后一次测试时间： <%= latestExamResult.personalEndTime %>  <br>

<button type="buttom" onclick=''>开始考试</button>



