
<p>再测一次看看自己有没有进步？</p>

测试截至时间： <%= current.ending_time %> <br>
测试名称： <%= current.ending_time %><br>
注意：测试题目可能含有录音，请保证鼠标、键盘、耳机正常工作。 <br>

<button type="buttom" onclick='YD.examCurrent()''>开始考试</button>



