
<img src='img/score.png'><br>

英语阅读能力等级：<%= scores.level %> <br>
英语词汇量： <%= scores.voc %>  <br>
最后一次测试时间： <%= scores.last_exam_time %>  <br>

<button type="buttom" onclick='YD.examCurrent()''>开始考试</button>



