<h2>编辑头像<h2>
<form id='user_photo'>
<% $.each(photos, function(idx, val) { %>
  <input type="radio" name='photo_id' value='<%= idx %>'
    <% if ( val === YD.userInfo.photo ) { %>
      checked
    <% } %>
    ><img src=<%= val %>><br>
<% }); %>
</form>
<button type="buttom" onclick='YD.userPhotoSave()'>保存头像</button> <br>