<h2>编辑头像<h2>
<form id='user_photo'>
<% _.each(photos, function(e) { %>
  <input type="radio" name='photo_id' value='<%=_.keys(e)[0] %>'
    <% if ( _.keys(e)[0] === _.keys(YD.userInfo.photo)[0] ) { %>
      checked
    <% } %>
    ><img src=<%= _.values(e)[0] %>><br>
<% }); %>
</form>
<button type="buttom" onclick='YD.userPhotoSave()'>保存头像</button> <br>