<div class="nav_last fr">
    <a href="#none" class="nav_head">
        <img src= '<%= photo.value %> ' />
        <span><%= userName %></span>
    </a>
    <a href="/log/out " class="nav_exit"></a>
</div>
