<h2>编辑头像<h2>
<form id='user_photo'>
<% _.each(photos, function(e) { %>
  <input type="radio" name='photo_id' value='<%= e.key %>'
    <% if (e.key === photo.key) { %>
      checked
    <% } %>
    ><img src=<%= e.value %>><br>
<% }); %>
</form>
<button type="buttom" id="user_photo_save">保存头像</button> <br>


<div class="old_head fl"><img src="<%= photo.value>" /></div>
<ul class="new_head_list fl">
  <li><img src="images/head1.png" width="80px" /><br /><input type="radio" name="a" /></li>
  <li><img src="images/head1.png" width="80px" /><br /><input type="radio" name="b" /></li>
  <li><img src="images/head1.png" width="80px" /><br /><input type="radio" name="c" /></li>
  <li><img src="images/head1.png" width="80px" /><br /><input type="radio" name="d" /></li>
  <li><img src="images/head1.png" width="80px" /><br /><input type="radio" name="e" /></li>
  <li><img src="images/head1.png" width="80px" /><br /><input type="radio" name="f" /></li>
</ul>
<button type="buttom" id="user_photo_save" class="fr btn_box_info">保存</button><a href="personal_info.html" class="btn btn_u">取消</a></div>