<h2>编辑头像<h2>
<form id='user_photo'>
<% _.each(photos, function(e) { %>
  <input type="radio" name='photo_id' value='<%= e.key %>'
    <% if (e.key === photo.key) { %>
      checked
    <% } %>
    ><img src=<%= e.value %>><br>
<% }); %>
</form>
<button type="buttom" id="user_photo_save">保存头像</button> <br>